h1 {
    color:pink;
}
p {
    font-size: 45px;
}

h2 {
    color:blueviolet;
    text-align: center;
    font-size: 50px;

}
/*
comentário
comentário*/

/* classes e id */

.p-texto {
    color: lightgren;
}

#título-app {
    color:purple;
    font-size:40px;

}

.div-background {
   background-image: url('./img/carnaval.jpg');
   height: 300px;
}

.titulo-background{
    text-align:center;
    background: color #000;
    color:#fff;
    
}

.italic {
    font-style: italic;

}

.oblique {
 font-style: oblique;
}

.bold {
    font-weight: bold;
    
}

/* Box model */

body {
    margin: 0;
}

.boxmodel {
    font-size: 25px;
    width: 200px;
    height: 200px;
    background-color: blue;
    /*geral */
 /* padding-top:20px;
  /*específico*/
  /* padding-top: 30px;
    padding-left:10px;
    padding-right:20px;
    padding-bottom:5px;*/
    /*especifico agrupado*/
   /* padding: 30px 20px 5px 10px;*/
/*especifico agrupado 3 medidas- top, right-left, bottom*/
/*padding: 30px 20px 5px;/
/* especifico agrupado 2medidas - top-bottom, right, left*/
padding: 30px 20px;
border: 3px solid #000;
border-width: 5px 10px 2px 10px;
/*border-left: 5px dotted blue;
border-right-style:double;*/
border-width: 20 px 10px;
border-radius:15px;
/*margin:50px;
margin: 5px 10px 10px 7px;*/
margin: 100px;



}

.paragrafo-box {
    font-size: 20px;
    color: red;
    margin:0;
}

